<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'chat_app/css/styles.css' %}"
    />
    <script src="{% static 'chat_app/js/auths.js' %}"></script>
  </head>
  <body>
    <h1>Login</h1>
    <form id="login-form">
      {% csrf_token %}
      <label
        >Username
        <input type="text" id="username" placeholder="Username" />
      </label>
      <br />
      <label
        >Password
        <input type="password" id="password" placeholder="Password" />
      </label>
      <br />
      <button type="button" onclick="login()">Login</button>
    </form>
    <br />
    <a href="{% url 'sign_up' %}">Sign Up</a>
    <br />
    <script></script>
  </body>
</html>
