

<!DOCTYPE html>
<html>
<head lang='en'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signi Up</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'chat_app/css/styles.css' %}">
    <script src="{% static 'chat_app/js/auth.js' %}"></script>
</head>
<body>
    <h1>Sign Up</h1>
    {% comment %} <form>
    {% csrf_token %}
    <label>Username
        <input type="text" id="username" placeholder="Username">
    </label>
    <br>
    <label>Password
        <input type="password" id="password" placeholder="Password">
    </label>
    <br>
    <button type="button" onclick="signup()">Sign Up</button>
    </form>
    <br><a href="{% url 'login' %}">Login</a></br> {% endcomment %}
    <form action="{% url 'signup'%}" method="POST" class="login-form">
        {% csrf_token%}
        <div class="mb-3 mt-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" required>
        </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Enter Password:</label>
            <div class="input-group">
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password1" required>
                <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                    <i class="fas fa-eye-slash"></i>
                </button>
            </div>
        </div>
    
          <div class="mb-3">
            <label for="pwd" class="form-label">Confirm Password:</label>
            <div class="input-group">
                <input type="password" class="form-control" id="pwd" placeholder="Confirm password" name="password2" required>
                <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                    <i class="fas fa-eye-slash"></i>
                </button>
            </div>
        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <small>Already have an Account?<a href="{% url 'login' %}">Login</a></small>
        </form>
</body>
</html>